<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body>
        <header>
            <div class="contain_logo">
                <a href="/register"><img class="west-logo" src="../static/west_logo.png"></a>
                <h2><a class="key" href="/">Keys</a></h2>
            </div>
            {% if get_flashed_messages() %}
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            {% endif %}
        </header>

        {% block body %}{% endblock %}
    </body>